<div><%= image_tag @user.profile_icon_url %></div>
<div>ユーザ名: <%= @user.name %></div>
<div>ユーザID: @<%= @user.nickname %></div>

<h3>参加中のクラブ一覧</h3>
<% @user.clubs.each do |club| %>
  <ul>
    <li><%= link_to "#{club.name}", club %></li>
  </ul>
<% end %>
