@import 'bulma'; // https://bulma.io

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1;
  background: $white-ter;
}
a, .button_to > input[type='submit'] {
  background: none;
  border: none;
  color: $link;
  cursor: pointer;
  font-size: 13px;
  line-height: 18px;
  margin: 0px;
  padding: 0px;
  text-decoration: underline;
  &:hover {
    color: $black;
  }
}
