@import 'bulma'; // https://bulma.io

a, .button_to > input[type='submit'] {
  background: none;
  border: none;
  color: $link;
  cursor: pointer;
  font-size: 13px;
  line-height: 18px;
  margin: 0px;
  padding: 0px;
  text-decoration: underline;
  &:hover {
    color: $black;
  }
}
